
// cover
#cover {
    padding: 0;
    position: relative;
    figure {
        width: 100%;
        img {
            width: 100%
        }
    }
    .cover-content-center {
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        margin-top: -30px;
    }
    .cover-content-lower-right {
        position: absolute;
        bottom: 0px;
        right: 0px;
        @media (min-width: $screen-sm-min) {
            margin: 0 50px 30px 0;
        }
        @media (min-width: $screen-xs-min) and (max-width: $screen-sm-min) {
            margin: 0 30px 15px 0;
        }
        margin: 0 10px 15px 0;
    }
}

.video-section {
    padding: 40px 0;
    h2 {
        margin-bottom: 0;
    }
    .video {
        text-align: left;
        padding: 0 20px;
        @media (min-width: $screen-sm-min) {
            margin: 80px 0 0px 0;
        }
        @media (min-width: $screen-xs-min) and (max-width: $screen-sm-min) {
            margin: 60px 0 0px 0;
        }
        margin: 40px 0 0px 0;

        figure {
            width: 100%;
            position: relative;
            margin: 0;
            &:hover {
                img {
                    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
                    @media (min-width: $screen-xs-min) {
                        @include transform(translateY(-60px));
                    }
                    @include transform(translateY(-40px));
                }
            }
            img {
                border: 1px solid #1a1a1a;
                width: 100%;
                height: 100%;
                z-index: 10;
                @include transition(transform 0.5s);
                position: relative;
            }
            figcaption {
                position: absolute;
                @media (min-width: $screen-xs-min) {
                    height: 60px;
                }
                height: 40px;
                width: 100%;
                top: auto;
                bottom: 0;
                background-color: #707070;
                span {
                    @media (min-width: $screen-md-min) {
                        font-size: 18px;
                    }
                    @media (min-width: $screen-xs-min) and (max-width: $screen-md-min) {
                        font-size: 16px;
                    }
                    font-size: 14px;
                    padding: 0 20px;
                    @media (min-width: $screen-xs-min) {
                        line-height: 60px;
                    }
                    line-height: 40px;
                    color: white;
                    display: block;
                    max-width: 63%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                .btn {
                    position: absolute;
                    right: 20px;
                    @media (min-width: $screen-xs-min) {
                        top: 15px;
                    }
                    top: 6px;
                }
            }
        }
    }
}

// about section
.about-section {
    padding: 40px 0;
    .kwicks {
        margin-top: 40px;
        width: 100%;
        li {
            width: 16.66%;
            figure {
                img {
                    @include transition(margin-left 0.8s);
                }
                &:not(:hover) {
                    figcaption {
                        opacity: 0;
                    }
                }
                figcaption {
                    position: absolute;
                    top: 0;
                    text-align: left;
                    color: white;
                    opacity: 1;
                    @include transition(opacity 0.5s);
                    &.black {
                        color: black;
                        font-weight: bolder;
                    }
                    @media (max-width: $screen-sm-min) {
                        h3 {
                            font-size: 15px;
                        }
                        h4 {
                            font-size: 10px;
                            margin: 0;
                        }
                        padding: 20px;
                    }
                    padding: 40px;
                    font-size: 25px;
                }
            }
        }
    }
}

.contacts-section {
    width: 70%;
    // hover effect: http://tympanus.net/Development/IconHoverEffects/
    .icons {
        a {
            margin: 20px;
            display: inline-block;
            position: relative;
            color: white;
            @media (max-width: $screen-xs-min) {
                width: 50px;
                height: 50px;
            }    
            width: 90px;
            height: 90px;
            @include border-radius(50%);
            background: #494949;    
            -webkit-font-smoothing: antialiased;
            @include transition(background 0.2s, color 0.2s);
            &:before {
                @media (max-width: $screen-xs-min) {
                    line-height: 50px;
                    font-size: 30px;
                }    
                line-height: 90px;
                font-size: 50px;
            }
            &:after {
                content: '';
                width: 100%;
                height: 100%;
                left: -7px;
                top: -7px;
                position: absolute;
                padding: 7px;
                @include border-radius(50%);
                box-shadow: 0 0 0 4px #fff;
                box-sizing: content-box;
                opacity: 0;
                @include transform(scale(.8));
                @include transition(transform 0.2s, opacity 0.2s);
            }
            &:hover {
                text-decoration: none;
                color: #494949;
                background: white;
                &:after {
                    opacity: 1;
                    @include transform(scale(1));
                }
            }
        }
    }
    #weibo {
        margin-top: 70px;
    }
}