@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";
@import url(http://fonts.googleapis.com/css?family=Lato:300);
$icon-font-path:"../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #a9a9a9;
}

body, .navbar-default {
    background: #1a1a1a url(../images/bg.png);
}

h1 {
    font-size: 60px;
    letter-spacing: 0px;
    text-shadow: 4px 4px #686666;
    color: white;
    font-weight: bold;
}

a {
    color: #a9a9a9;
}

.btn-default {
    background-color: rgba(0,0,0,0.3);
    font-size: 15px;
    letter-spacing: 2px;
    color: white;
    padding: 10px 40px;
}

.navbar .container {
    margin: 40px auto 20px auto;
    .navbar-header {
        margin: 0;
    }
    .navbar-toggle {
        color: #a9a9a9;
        margin-right: 0;
    }
    .navbar-brand {
        color: white;
        font-weight: bold;
        text-shadow: 2px 2px #686666;
        letter-spacing: 1px;
        font-size: 40px;
        padding: 15px 0px;
        margin: 0;
        &:hover, &:focus {
            color: white;
        }
    }
    .navbar-nav {
        float: right;
        li {
            font-size: 20px;
            // TODO: change to 20px for larger screens
            margin: 0 0 0 20px;
            a {
                padding: 16px 0;
                // link effects from http://tympanus.net/Development/CreativeLinkEffects/
                &:before, &:after {
                    display: inline-block;
                    opacity: 0;
                    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
                    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
                    transition: transform 0.3s, opacity 0.2s;
                }
                &:before {
                    margin-right: 10px;
                    content: '[';
                    -webkit-transform: translateX(20px);
                    -moz-transform: translateX(20px);
                    transform: translateX(20px);
                }
                &:after {
                    margin-left: 10px;
                    content: ']';
                    -webkit-transform: translateX(-20px);
                    -moz-transform: translateX(-20px);
                    transform: translateX(-20px);
                }
                &:hover:before, &:hover:after, &:focus:before, &:focus:after {
                    opacity: 1;
                    -webkit-transform: translateX(0px);
                    -moz-transform: translateX(0px);
                    transform: translateX(0px);
                }
                &:hover {
                    background-color: inherit;
                    color: inherit;
                }
            }
        }
    }
}


// cover
.cover {
    padding: 0;
    position: relative;
    figure {
        width: 100%;
        img {
            width: 100%
        }
    }
    .cover-content {
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        margin-top: -30px;
        h1 {
            margin-bottom: 40px;
        }
    }
}
