
.navbar {
    background: #464646 url(../images/bg.png);
    margin-bottom: 0;
    .container {
        @media (min-width: $screen-lg-min) {
            width: 80%;
            margin: 30px auto 20px auto;
        }
        @media (min-width: $screen-sm-min) and (max-width: $screen-lg-min) {
            width: 100%;
            margin: 30px auto 20px auto;
        }
        margin: 20px auto 15px auto;
        padding: 0 20px;
        .navbar-header {
            margin: 0;
        }
        .navbar-toggle {
            color: #a9a9a9;
            margin-right: 0;
        }
        .navbar-brand {
            color: white;
            font-weight: bold;
            text-shadow: 2px 2px #686666;
            letter-spacing: 1px;
            padding: 15px 0px;
            margin: 0;
            text-transform: uppercase;
            &:hover, &:focus {
                color: white;
            }
            @media (min-width: $screen-sm-min) {
                font-size: 35px;
            }
            @media (min-width: $screen-xs-min) and (max-width: $screen-sm-min) {
                font-size: 25px;
            }
            font-size: 20px;
        }
        .navbar-collapse {
            border: none;
            box-shadow: none;
        }
        .navbar-nav {
            padding-top: 5px;
            float: right;
            li {
                @media (min-width: $screen-md-min) {
                    margin-right: 20px;
                }
                @media (min-width: $screen-sm-min) {
                    a {
                        padding: 16px 0;
                    }
                    font-size: 20px;
                    margin-top: 10px;
                }
                text-align: center;
                font-size: 15px;
                margin: 0 0 0 10px;
                a {
                    display: inline-block;
                    padding: 5px 0;
                    text-transform: uppercase;
                    color: #a9a9a9;
                    &:hover {
                        background-color: inherit;
                        color: white;
                    }     
                    &.section-link {
                        // link effects from http://tympanus.net/Development/CreativeLinkEffects/
                        &:before, &:after {
                            display: inline-block;
                            opacity: 0;
                            @include transition(transform 0.3s, opacity 0.2s);
                        }
                        &:before {
                            margin-right: 10px;
                            content: '[';
                            @include transform(translateX(20px));
                        }
                        &:after {
                            margin-left: 10px;
                            content: ']';
                            @include transform(translateX(-20px));
                        }
                        &:hover:before, &:hover:after, &:focus:before, &:focus:after {
                            opacity: 1;
                            @include transform(translateX(0px));
                        }                   
                    }
                }
                &.language {
                    font-size: 15px;
                    @media (min-width: $screen-md-min) {
                        margin-left: 100px;
                    }
                }
            }
        }
    }
}
