
.navbar {
    background: #464646 url(../images/bg.png);
    margin-bottom: 0;
    .container {
        @media (min-width: $screen-lg-min) {
            width: 80%;
        }
        @media (min-width: $screen-sm-min) {
            margin: 30px auto 20px auto;
        }
        @media (min-width: $screen-xs-min) and (max-width: $screen-sm-min) {
            margin: 20px auto 15px auto;
        }
        margin: 10px auto 5px auto;
        padding: 0;
        .navbar-header {
            margin: 0;
        }
        .navbar-toggle {
            color: #a9a9a9;
            margin-right: 0;
        }
        .navbar-brand {
            color: white;
            font-weight: bold;
            text-shadow: 2px 2px #686666;
            letter-spacing: 1px;
            padding: 15px 0px;
            margin: 0;
            text-transform: uppercase;
            &:hover, &:focus {
                color: white;
            }
            @media (min-width: $screen-sm-min) {
                font-size: 35px;
            }
            @media (min-width: $screen-xs-min) and (max-width: $screen-sm-min) {
                font-size: 25px;
            }
            font-size: 20px;
        }
        .navbar-collapse {
            border: none;
            box-shadow: none;
        }
        .navbar-nav {
            float: right;
            li {
                @media (min-width: $screen-sm-min) {
                    a {
                        padding: 16px 0;
                    }
                    font-size: 20px;
                    margin-top: 10px;
                }
                text-align: center;
                font-size: 15px;
                margin: 0 0 0 20px;
                a {
                    padding: 5px 0;
                    text-transform: uppercase;
                    color: #a9a9a9;
                    // link effects from http://tympanus.net/Development/CreativeLinkEffects/
                    &:before, &:after {
                        display: inline-block;
                        opacity: 0;
                        transition: transform 0.3s, opacity 0.2s;
                    }
                    &:before {
                        margin-right: 10px;
                        content: '[';
                        transform: translateX(20px);
                    }
                    &:after {
                        margin-left: 10px;
                        content: ']';
                        transform: translateX(-20px);
                    }
                    &:hover:before, &:hover:after, &:focus:before, &:focus:after {
                        opacity: 1;
                        transform: translateX(0px);
                    }
                    &:hover {
                        background-color: inherit;
                        color: inherit;
                    }
                }
            }
        }
    }
}
