.modal.modal-video {
    overflow: hidden;
    .modal-dialog {
        top: 0;
        bottom: 0;
        left: 10%;
        width: 80%;
        // height will be dynamically calculated
        height: 100px;
        margin: auto;
        position: absolute;
        background-color: black;
    }

    .modal-content {
        background-color: transparent;
        border: none;
    }
    .modal-body {
        padding: 0;
        border: 1px solid transparent;
        border-radius: 20px;
        z-index: 0;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .close {
        position: absolute;
        right: -10px;
        top: -10px;
        color: white;
        font-size: 25px;
        opacity: 1;
        z-index: 100;
        margin: 0;
        line-height: 25px;
        padding: 0px 0px 1px 1px;
        background-color: black;
        border: 2px solid white;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        &:focus {
            outline: none;
        }
    }
}

img.ratio {    
    width: 100%;
    height: auto;
    opacity: 0;
}
