
.icon-email:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-youtube:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\e803'; } /* '' */
.icon-instagramm:before { content: '\e804'; } /* '' */
.icon-renren:before { content: '\e805'; } /* '' */
.icon-weibo-1:before { content: '\e806'; } /* '' */
.icon-youku:before { content: '\e807'; } /* '' */